@page "/DetentionForm"
@using XtianBlazorApp.Shared.ViewModels;
@using Newtonsoft.Json;
@inject IJSRuntime JsRuntime
@inject XtianBlazorApp.Shared.ViewModels.StateContainer StateContainer
@inject NavigationManager NavManager


<div class="row mt-1">
    <div class="col-sm-5">
        <h6>
            I consent to the following for myself/child for whom i have parental responsibility
        </h6>
    </div>
</div>
<div class="row-lg">
    <div class="col-12 row">
        <div class="col-12 col-md-6">
            <div class="row mt-3">
                <div class="col-4 col-md-2">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox" @bind="Consent16AndOlderDPMedicalExam">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-8 detainCheckLabel ">
                    <h> A medical examination</h>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4 col-md-2">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox" @bind="Consent16AndOlderDPForensicSampling">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-8 detainCheckLabel ">
                    <h> Taking forensic samples</h>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4 col-md-2">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox" @bind="Consent16AndOlderBodyDiagram">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-8 detainCheckLabel ">
                    <h> Body diagram being completed, and present</h>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4 col-md-2">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox" @bind="Consent16AndOlderStatementCareRecord">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-8 detainCheckLabel ">
                    <h> A statement/report to be written for court </h>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4 col-md-2">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox" @bind="Consent16AndOlderContatingGp">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-8 detainCheckLabel ">
                    <h> Contacting my GP</h>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4 col-md-2">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox" @bind="Consent16AndOlderRelevantServiceAndReferral">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-8 detainCheckLabel ">
                    <h>
                        Contacting relivant services and refer
                        <br>  (Please specify if known)
                    </h>
                </div>
            </div>

            <div class="container row mt-3">
                <div class="form-group col-sm-8">
                    <label for="exampleTextarea">Please specify if known</label>
                    <textarea class="form-control" @bind="Consent16AndOlderRelevantServiceAndReferralTextBox"></textarea>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row mt-3">
                <div class="col-4 col-md-2">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox" @bind="Consent16AndOlderAccessingSummaryRecord">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-8 detainCheckLabel ">
                    <h> Access to my summary care record ()</h>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4 col-md-2">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox" @bind="Consent16AndOlderSafeguardingReferral">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-8 detainCheckLabel ">
                    <h> Safeguarding referral (note this is mandatory under 18 years)</h>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4 col-md-2">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox" @bind="Consent16AndOlderDPInfoResearchPlanning">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-8 detainCheckLabel ">
                    <h> My information being used anonymously for research</h>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4 col-md-2">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox" @bind="Consent16AndOlderDPInfoShared">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-8 detainCheckLabel ">
                    <h> Information to be shared with other healthcare</h>
                </div>
            </div>

        </div>
    </div>
    <div class="col-12 text-center pt-3 ">
        <div class="row">
            <div class="col-sm-12">
                <label>Please Sign Below:</label><br />
                <canvas id="signature-pad" class="signature-pad border" @ref="_canvas"></canvas>
            </div>
            <div class="my-2 col-8 mx-auto">
                <button id="clear-signature" class="btn btn-primary">Reset Signature</button>
                <button @onclick="HandleFormSubmit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>



@code
{
    public ElementReference _canvas;
    private string signatureForm = "signatureForm";

    private string saveSignature
    {
        get;
        set;
    } = string.Empty;

    private string noSignature
    {
        get;
        set;
    } = string.Empty;
    private bool ConsentUnder16DPMedicalExam { get; set; }
    private bool ConsentUnder16DPForensicSampling { get; set; }
    private bool ConsentUnder16BodyDiagram { get; set; }
    private bool ConsentUnder16StatementCareRecord { get; set; }
    private bool ConsentUnder16ContatingGp { get; set; }
    private bool ConsentUnder16RelevantServiceAndReferral { get; set; }
    private string ConsentUnder16RelevantServiceAndReferralTextBox { get; set; } = string.Empty;
    private bool ConsentUnder16AccessingSummaryRecord { get; set; }
    private bool ConsentUnder16SafeguardingReferral { get; set; }
    private bool ConsentUnder16DPInfoResearchPlanning { get; set; }
    private bool ConsentUnder16DPInfoShared { get; set; }
    //UNDER16 DATA
    private bool Consent16AndOlderDPMedicalExam { get; set; }
    private bool Consent16AndOlderDPForensicSampling { get; set; }
    private bool Consent16AndOlderBodyDiagram { get; set; }
    private bool Consent16AndOlderStatementCareRecord { get; set; }
    private bool Consent16AndOlderContatingGp { get; set; }
    private bool Consent16AndOlderRelevantServiceAndReferral { get; set; }
    private string Consent16AndOlderRelevantServiceAndReferralTextBox { get; set; } = string.Empty;
    private bool Consent16AndOlderAccessingSummaryRecord { get; set; }
    private bool Consent16AndOlderSafeguardingReferral { get; set; }
    private bool Consent16AndOlderDPInfoResearchPlanning { get; set; }
    private bool Consent16AndOlderDPInfoShared { get; set; }
    private async Task<string> GetSignature()
    {
        return await JsRuntime.InvokeAsync<string>("getImageData", _canvas);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            noSignature = await JsRuntime.InvokeAsync<string>("setSignature", _canvas);
        }
    }


    private async void HandleFormSubmit()
    {
        try
        {
            var data = new UploadModel();
            var userPrimaryData = await JsRuntime.InvokeAsync<string>("getStoreData", "userData").ConfigureAwait(false);
            if (userPrimaryData != null)
            {
                var userData = JsonConvert.DeserializeObject<UserData>(userPrimaryData);
                if (userData != null)
                {
                    data.UserId = userData.D;
                    data.Guid = userData.B;
                    data.DetentionId = userData.G;
                    data.DetentionLogId = userData.C;
                    data.SignatureName = userData.M ?? "";
                    data.SignatureType = userData.A;
                    data.AgePreference = userData.K;
                    saveSignature = await GetSignature();
                    data.ImageData = saveSignature;
                    // 16 & Above Data
                    data.Consent16AndOlderDPMedicalExam = Consent16AndOlderDPMedicalExam;
                    data.Consent16AndOlderDPForensicSampling = Consent16AndOlderDPForensicSampling;
                    data.Consent16AndOlderBodyDiagram = Consent16AndOlderBodyDiagram;
                    data.Consent16AndOlderStatementCareRecord = Consent16AndOlderStatementCareRecord;
                    data.Consent16AndOlderContatingGp = Consent16AndOlderContatingGp;
                    data.Consent16AndOlderRelevantServiceAndReferral = Consent16AndOlderRelevantServiceAndReferral;
                    data.Consent16AndOlderRelevantServiceAndReferralTextBox = Consent16AndOlderRelevantServiceAndReferralTextBox;
                    data.Consent16AndOlderAccessingSummaryRecord = Consent16AndOlderAccessingSummaryRecord;
                    data.Consent16AndOlderSafeguardingReferral = Consent16AndOlderSafeguardingReferral;
                    data.Consent16AndOlderDPInfoResearchPlanning = Consent16AndOlderDPInfoResearchPlanning;
                    data.Consent16AndOlderDPInfoShared = Consent16AndOlderDPInfoShared;
                    //UNDER 16 DATA
                    data.ConsentUnder16DPMedicalExam = ConsentUnder16DPMedicalExam;
                    data.ConsentUnder16DPForensicSampling = ConsentUnder16DPForensicSampling;
                    data.ConsentUnder16BodyDiagram = ConsentUnder16BodyDiagram;
                    data.ConsentUnder16StatementCareRecord = ConsentUnder16StatementCareRecord;
                    data.ConsentUnder16ContatingGp = ConsentUnder16ContatingGp;
                    data.ConsentUnder16RelevantServiceAndReferral = ConsentUnder16RelevantServiceAndReferral;
                    data.ConsentUnder16RelevantServiceAndReferralTextBox = ConsentUnder16RelevantServiceAndReferralTextBox;
                    data.ConsentUnder16AccessingSummaryRecord = ConsentUnder16AccessingSummaryRecord;
                    data.ConsentUnder16SafeguardingReferral = ConsentUnder16SafeguardingReferral;
                    data.ConsentUnder16DPInfoResearchPlanning = ConsentUnder16DPInfoResearchPlanning;
                    data.ConsentUnder16DPInfoShared = ConsentUnder16DPInfoShared;
                    var dataInSting = JsonConvert.SerializeObject(data);
                    if (dataInSting != null)
                    {
                        var dataObject = new
                        {
                            key = "consentForm",
                            value = dataInSting
                        };
                        await JsRuntime.InvokeVoidAsync("saveDetailsToLocalStorage", dataObject).ConfigureAwait(false);
                        var signaturePng = saveSignature;
                        var signedObject = new
                        {
                            key = "filteredSignature",
                            value = signaturePng
                        };
                        await JsRuntime.InvokeVoidAsync("saveDetailsToLocalStorage", signedObject).ConfigureAwait(false);
                        NavManager.NavigateTo("/counter");
                    }
                }
            }
        }
        catch (Exception ex)
        {
            throw ex;
        }
    }



}